@font-face {
  font-family: 'Aloja Extended';
  src: url('/fonts/aloja-extended.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Corporate E';
  src: url('/fonts/corporate-e-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Corporate E';
  src: url('/fonts/corporate-e-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --display-font: var(--heading-font);
  --body-copy-font: var(--body-font);
  --strong-font: var(--body-font);

  --primary-white: #f8f7f4;
  --primary-blue: #28334c;
  --secondary-blue: #3a5d71; 
  --primary-gold: #916b3b;
  --primary-black: #16120e;
  --premium-black: #19191a;

  --light-background: #f8f7f4;
  --medium-background: #28334c;
  --dark-background: #16120e;

  --light-text: #f2f2f2;
  --dark-text: #16120e;

  --shadow-color: #e4e4e4;

  --page-width: 1200px;
  --content-width: 760px;

  --inline-padding: 1.5rem;
  --block-padding: 4rem;

}

html[data-theme='convivio'] {
  --display-font: 'Aloja Extended', serif;
  --body-copy-font: 'Corporate E', serif;
  --strong-font: 'Corporate E', serif;
  
  --primary-blue: #28334c;

  --accent-on-light: #395c70;
   --accent-on-light-primary: #395c70;

   --accent-on-light-secondary: #4e4866;
 
  --accent-on-dark: #A6BBC6;
 

   --accent-line-on-light: #395c70;

  --primary-gold: #c8b995;
  --secondary-gold: #c98268;

  --primary-black: #28334c;
  --premium-black: #28334c;

  --light-background: #f8f7f4;
   /* --light-background: #f0f7f4; */
  --medium-background: #3a5d71;
  --dark-background: #28334c;

  --dark-text: #28334c;
  --shadow-color: #d8dde3;
}

[data-torn] {
  position: relative;
  overflow: visible;
}

[data-torn]::before,
[data-torn]::after {
  position: absolute;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 20px;
  background: var(--torn-color);
  filter: url('#roughen');
  pointer-events: none;
}

[data-torn='both']::before,
[data-torn='top']::before {
  content: '';
  top: -10px;
}

[data-torn='both']::after,
[data-torn='bottom']::after {
  content: '';
  bottom: -10px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: var(--light-background);
  color: var(--dark-text);
  font-family: var(--body-copy-font), sans-serif;
}

section {
  border-bottom: 1px solid #000;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: var(--display-font), serif;
}

